*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  margin: auto;
  width: 900px;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top div {
  display: flex;
  width: 8%;
  align-items: center;
  margin-bottom: 3px;
  color: gray;
}

.top div:hover {
  cursor: pointer;
}

.top div img{
  height: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.bottom {
  display: block;
  height: 1rem;
  background-image: url("../img/hr-img.png");
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left {
  display: flex;
  align-items: center;
}

.left:hover{
  cursor: pointer;
}

.left img{
  float: left;
}

.left p {
  font-size:x-small;
}

.right {
  display: flex;
  align-items: center;
}

.right ul {
  display: flex;
}

main {
  position:relative;
  margin: auto;
  width: 900px;
}

main > section {
  position: relative;
}

.checkbox {
  position: relative;
  min-height: 305px;
}

.listPic {
  position:absolute;
  z-index: -1;
}

.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  columns: 2;
  column-gap: 2rem;
  padding: 3rem;
}

label {
  display: block;
}

.mainBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainBottom section {
  width: 60%;
}

.mainBottom button {
  width: 20%;
  height: 50px;
}

.mainBottom img {
  width: 94px;
  height: 94px;
}

footer { 
  margin: auto;
  width: 900px;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-left: 1px;
}